<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://viawormhole.xyz/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>lq3Tr+sU1SbVZxNlgQ0ysJsWH8y6yzplgvtUc6Gi68E=</string>
</dict>
</plist>
